<div [className]="'form-container'">
  <a routerLink="/foogle">
    <img
      src="assets/images/foogle.png"
      alt="Foogle"
      [className]="'logo-foogle'"
    />
  </a>
  <form
    id={id}
    [formGroup]="checkoutForm"
    [className]="'search-form'"
    (ngSubmit)="onSubmit()"
  >
    <label>
      <input
        type="text"
        [className]="'search-bar'"
        formControlName="search"
        placeholder="Enter any dish here..."
        minLength="1"
        autoComplete="off"
      />
    </label>
    <button
      type="submit"
      [className]="'button-style-e'"
    >
    Search
    </button>
  </form>
</div>

<app-recipe [recipes]="recipes" ></app-recipe>
<ngx-ui-loader></ngx-ui-loader>
